<!-- 底部Tab栏 -->
<div class="tabbar">
  <!-- 首页 -->
  <div class="tabbar-item active" data-page="home">
    <i class="fa fa-home text-[20px]"></i>
    <span class="text-[12px] mt-[2px]">首页</span>
  </div>
  
  <!-- 找资料 -->
  <div class="tabbar-item inactive" data-page="search">
    <i class="fa fa-search text-[20px]"></i>
    <span class="text-[12px] mt-[2px]">找资料</span>
  </div>
  
  <!-- 互助 -->
  <div class="tabbar-item inactive" data-page="exchange">
    <i class="fa fa-exchange-alt text-[20px]"></i>
    <span class="text-[12px] mt-[2px]">互助</span>
  </div>
  
  <!-- 备考 -->
  <div class="tabbar-item inactive" data-page="exam">
    <i class="fa fa-pen-fancy text-[20px]"></i>
    <span class="text-[12px] mt-[2px]">备考</span>
  </div>
  
  <!-- 我的 -->
  <div class="tabbar-item inactive" data-page="profile">
    <i class="fa fa-user text-[20px]"></i>
    <span class="text-[12px] mt-[2px]">我的</span>
  </div>
</div>